@model EcoReservasEN.Reservas

@{
    ViewData["Title"] = "Creates";
}

<h1>Creates</h1>

<h4>Reservas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Reservas">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="LugarId" type="hidden" />

         
           
            <div hidden class="form-group">
                <label hidden asp-for="UserId" class="control-label"></label>
                <input hidden asp-for="UserId" class="form-control" />
                <span hidden asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correlativo" class="control-label"></label>
                <input asp-for="Correlativo" class="form-control" />
                <span asp-validation-for="Correlativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Lugares">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
